html {
    height: 100%;
}
/* 背景图片样式 */
body {
    margin: 0;
    padding: 0;
    background-image:url(../image/backiee-88851-landscape.jpg);
    background-size: 100% 100%;
}

/* Welcome to my personal website. 样式 */
.wel {
    color: rgba(255,255,255,.7);
    font-size: 50px;
    text-align: center;
}

/* 登录区域样式 */
.login {
    width: 300px;
    padding: 10px 40px 5px 40px;
    top: 30%;
    left: 10%;
    background: rgba(255,255,255,.2);  /*实现半透明效果 */
    box-shadow: 15px 15px 25px rgba(255,255,255,.5); /* 实现盒子阴影效果 */
    border-radius: 50%;  /* 圆形 */
    text-align: center;
    position: fixed;  /* 固定定位 */
}

/* Login 字体样式 */
.login h1 {
    color: rgba(255,255,255,.7);
    text-transform: uppercase;
    font-weight: 600;
}

/* 登录输入框样式 */
.login #username,
#password {
    border: 0;
    background: none;
    display: block;
    font-size: 18px;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgba(255,255,255,.5);  /* 边框属性 */
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: rgba(255,255,255,.5);  /* 字体颜色 */
    border-radius: 24px;
}
/* 点击到输入框时，输入框的样式 */
.login #username:focus, #password:focus {
    width: 240px;
}

/* 错误提示样式 */
.login #error {
    width: 100%;
    height: 20px;
    color: red;
}

/* login登录按钮样式 */
.login #sub {
    background: none;
    display: block;
    font-size: 18px;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgba(255,255,255,.5);
    padding: 14px 30px;
    outline: none;
    color: rgba(255,255,255,.5);
    border-radius: 24px;
    cursor: pointer;  /* 光标移动到Login按钮时，变成小手形状 */
}

/* 鼠标移入到登录按钮的样式 */
.login #sub:hover {
    background-color: skyblue;
}